<h1>Action</h1>
<p class="action_title"></p>

<section style="margin-top: 10px">
    <button>+  Create Condition</button>
</section>

<section id="action_groups"></section>

<template id="condition">
    <section class="double_group condition_line"></section>
</template>

<template id="action_table">
    <table style="width: 100%">
        <thead>
            <tr>
                <th>type</th>
                <th>schedule</th>
                <th>template</th>
                <th style="width: 60px"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</template>
