<h1>Action</h1>

<section id="action_bar">
    <p class="action_title"></p>
    <button id="btn_createConditon"><span class="bull">+</span>  Create Condition</button>
</section>

<section id="action_groups"></section>

<template id="condition">
    <section class="double_group condition_line"></section>
</template>

<template id="action_table">
    <table style="width: 100%">
        <thead>
            <tr>
                <th>type</th>
                <th>schedule</th>
                <th>template</th>
                <th style="width: 60px"></th>
                <th style="width: 60px"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</template>

<template id="condition_create">
    <p class="title">Create Condition</p>
    <hr>
    <form>
        <span id="modal_error" style="margin-bottom: 15px"></span>
    </form>
</template>

<template id="action_create">
    <p class="title">Create Action</p>
    <hr>
    <form>
        <section class="double_group">
            <label for="action_type">Type</label>
            <select id="action_type">
                <option value="snmp" selected="selected">snmp</option>
                <option value="api">api</option>
            </select>
        </section>
    </form>
</template>
