<h1>Business Applications</h1>

<form id="search">
    <p>
        <input type="checkbox" id="search_active" checked>
        <label for="search_active">Active</label>
    </p>
    <input type="text" placeholder="Business Application name" id="search_value" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    <input type="submit" value="Search 🔎">
</form>

<template id="businessapp_template">
    <table>
        <thead>
            <tr>
                <th style="width: 60px"></th>
                <th>Name</th>
                <th style="width: 60px">Status</th>
                <th style="width: 170px">Last update</th>
                <th style="width: 60px"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</template>

<template id="businessapp_modal">
    <p class="title"></p>
    <table>
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
                <th style="width: 170px">Last update</th>
            </tr>
        </thead>
        <tbody id="attr"></tbody>
    </table>
</template>
