<h1>Orders</h1>

<form id="search">
    <button id="btn_createOrder">+ &nbsp;&nbsp;Create Order</button>
    <select id="search_active">
        <option value="active" selected="selected">✔️ Active only</option>
        <option value="inactive">❌ Inactive only</option>
        <option value="all">   All orders</option>
    </select>
    <input type="text" placeholder="Multi column search" id="search_value"  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    <input type="submit" value="Search 🔎">
</form>

<template id="order_template">
    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th style="width: 60px">Trigram</th>
                <th>Name</th>
                <th>Title</th>
                <th style="width: 60px">Status</th>
                <th style="width: 170px">Last update</th>
                <th style="width: 80px">Actions</th>
                <th style="width: 60px"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</template>

<template id="order_modal">
    <p class="title"></p>
    <hr>
    <section class="order_state">
        <label for="order_active">Order status</label>
        <select id="order_active">
            <option value="true" selected="selected">✔️ Enabled</option>
            <option value="false">❌ Disabled</option>
        </select>
    </section>
    <span id="modal_error"></span>
    <table>
        <tbody id="attr"></tbody>
    </table>
    <hr>
    <button id="btn_order_save" disabled>Save</button>
</template>

<template id="order_create_modal">
    <p class="title">Create Order</p>
    <hr>
    <form id="create_order">
        <span id="modal_error" style="margin-bottom: 15px"></span>
    </form>
</template>
