<h1>Orders</h1>

<section>
    <button id="btn_createOrder">+ &nbsp;&nbsp;Create Order</button>
</section>

<form id="search">
    <p>
        <input type="checkbox" id="search_active" checked>
        <label for="search_active">Active</label>
    </p>
    <input type="text" placeholder="Orders number" id="search_value">
    <input type="submit" value="Search 🔎">
</form>

<template id="order_template">
    <table>
        <thead>
            <tr>
                <th>Order number</th>
                <th style="width: 60px">Status</th>
                <th style="width: 170px">Last update</th>
                <th style="width: 100px">Actions</th>
                <th style="width: 60px"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</template>

<template id="order_modal">
    <p class="title"></p>
    <hr>
    <p>
        <input type="checkbox" id="order_active" checked>
        <label for="order_active">Active</label>
    </p>
    <table>
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody id="attr"></tbody>
    </table>
    <hr>
    <button>Save</button>
</template>

<template id="order_create_modal">
    <p class="title">Create Order</p>
    <hr>
    <form id="create_order"></form>
</template>
