{
    "extends": "@slimio/eslint-config",
    "rules": {
        "max-lines-per-function": "off",
        "no-loop-func": "off",
        "no-inner-declarations": "off",
        "max-nested-callbacks": "off"
    }
}
