<h1>Business Applications</h1>

<form id="search">
    <input type="text" placeholder="Business Application name" id="search_value">
    <input type="submit" value="Search">
</form>

<template id="order_template">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Status</th>
                <th>Last update</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</template>

<script src="javascript/business_app.js"></script>
