<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Orders manager</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <nav>
        <img src="img/axa-logo.png" alt="AXA-IM" />
        <ul>
            <li id="menu_ba">Business Applications</li>
            <li id="orders">Orders</li>
        </ul>
    </nav>
    <aside id="content">
        <h1>Business Applications</h1>

    </aside>
    <template id="order_template">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Last update</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </template>
    <script src="master.js"></script>
</body>
</html>
