<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Orders manager</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <nav>
        <img src="img/axa-logo.png" alt="AXA-IM" />
        <ul>
            <li id="menu_ba">Business Applications</li>
            <li id="menu_orders">Orders</li>
        </ul>
    </nav>
    <aside id="content"></aside>
    <section id="whiteBG" class="hidden">
        <section class="modal">
            <div id="modal_close">X</div>
        </section>
    </section>
    <script src="js/utils.js"></script>
    <script>
    document.addEventListener("DOMContentLoaded", () => {
        const aside = document.getElementById("content");
        const menu_ba = document.getElementById("menu_ba");
        const menu_orders = document.getElementById("menu_orders");
        const whiteBg = document.getElementById("whiteBG");
        const modal_close = document.getElementById("modal_close");
        const modal = document.querySelector(".modal");
        let activeMenu = null;

        function openModal(templateName, handler) {
            whiteBg.classList.remove("hidden");
            const template = document.getElementById(templateName);
            const clone = document.importNode(template.content, true);
            handler(clone);

            modal.appendChild(clone);
        }

        function setupMenu(menu) {
            if (activeMenu !== null) {
                aside.innerHTML = "";
                activeMenu.classList.remove("active");
            }
            activeMenu = menu;
            activeMenu.classList.add("active");
        }

        menu_ba.addEventListener("click", async() => {
            // Fetch view
            setupMenu(menu_ba);
            const html = await fetch("/view/business_application").then((res) => res.text());
            aside.innerHTML = html;

            // Add search handlers & events
            document.getElementById("search").addEventListener("submit", (event) => {
                event.preventDefault();
                filterTable("search_value");
            });

            document.getElementById("search_active").addEventListener("change", (event) => {
                filterTableByActive(event.target.checked);
            });

            // Fetch and hydrate business applications
            const businessApplications = await fetch("/bu").then((res) => res.json());

            const _t = new DynamicTable("businessapp_template");
            for (const [name, trigram, status, lastUpdate] of businessApplications) {
                const date = formatDate(new Date(lastUpdate));
                async function click() {
                    const result = await fetch(`/bu/${trigram}`).then((res) => res.json());
                    openModal("businessapp_modal", (clone) => {
                        clone.querySelector(".title").textContent = name;

                        const attrBody = clone.getElementById("attr");
                        for (const [title, owner, update] of result.attributes) {
                            const tr = document.createElement("tr");
                            tr.appendChild(createTd(title));
                            tr.appendChild(createTd(owner));
                            tr.appendChild(createTd(formatDate(new Date(update))));
                            attrBody.appendChild(tr);
                        }
                    });
                }

                _t.addRow([
                    trigram,
                    { value: name },
                    status ? "✔️" : "❌",
                    date,
                    { value: "🔎", center: true, click }
                ], status)
            }
            aside.appendChild(_t.close());
        });

        menu_orders.addEventListener("click", async() => {
            // Fetch view
            setupMenu(menu_orders);
            const html = await fetch("/view/orders").then((res) => res.text());
            aside.innerHTML = html;

            // Add search handlers & events
            document.getElementById("search").addEventListener("submit", (event) => {
                event.preventDefault();
                filterTable("search_value", 0);
            });

            document.getElementById("search_active").addEventListener("change", (event) => {
                filterTableByActive(event.target.checked, 1);
            });

            // Fetch and hydrate orders
            const orders = await fetch("/order").then((res) => res.json());

            const _t = new DynamicTable("order_template");
            for (const [id, number, status, lastUpdate] of orders) {
                const date = formatDate(new Date(lastUpdate));
                _t.addRow([
                    number,
                    status ? "✔️" : "❌",
                    date,
                    { value: "🔎", center: true }
                ], status)
            }
            aside.appendChild(_t.close());
        });

        function modalClose() {
            whiteBg.classList.add("hidden");
            while (modal.firstChild) {
                modal.removeChild(modal.firstChild);
            }
            modal.innerHTML = "<div id=\"modal_close\">X</div>";
            document.getElementById("modal_close").addEventListener("click", modalClose);
        }
        document.getElementById("modal_close").addEventListener("click", modalClose);
        menu_ba.click();
    });
    </script>
</body>
</html>
