<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Orders manager</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <nav>
        <img src="img/axa-logo.png" alt="AXA-IM" />
        <ul>
            <li id="menu_ba">Business Applications</li>
            <li id="menu_orders">Orders</li>
            <li id="menu_action">Actions</li>
        </ul>
    </nav>
    <template id="modal_action">
        <p class="title">Find Order actions by Number</p>
        <form id="action_form">
            <span id="modal_error" style="margin-bottom: 15px"></span>
            <section id="action_form_content"></section>
        </form>
    </template>
    <aside id="content"></aside>
    <section id="whiteBG" class="hidden">
        <section class="modal">
            <div id="modal_close">X</div>
        </section>
    </section>
    <script src="js/utils.js"></script>
    <script src="js/master.js"></script>
</body>
</html>
