body, html, div, ul, li, p, span, b, h1, h2, h3, h4, h5, h6, label, input, details, summary {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}

img {
    vertical-align: top;
    border: none;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    display: flex;
    padding: 5px;
    font-family: Roboto;
}

select:disabled {
    opacity: 0.5;
}

span.bull {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    background: #FFF;
    color: #212121;
    border-radius: 25px;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: center;
}

#action_template_content {
    border-color: #607D8B;
}
#action_template_content > p {
    text-align: center;
    padding: 5px;
}
    #action_template_content > p b {
        color: #1A237E;
    }

textarea {
    border-radius: 2px;
    padding: 5px;
    min-height: 80px;
    max-height: 180px;
    border-color: #607D8B;
    color: #607D8B;
    resize: vertical;
    outline: none;
}
section.textarea_group {
    display: flex;
    flex-direction: column;
}
    section.textarea_group > label {
        margin-top: 3px;
        color: #607D8B;
        font-weight: bold;
        font-size: 14px;
    }

section.select_group {
    display: flex;
    flex-grow: 1;
    height: 35px;
    flex-basis: 250px;
    margin-bottom: 10px;
}
    section.select_group > label {
        min-width: 80px;
        margin-right: 10px;
        display: flex;
        align-items: center;
    }
    section.select_group > select {
        flex-grow: 1;
    }

section.select_group + section.select_group {
    margin-left: 20px;
}

section.order_state {
    display: flex;
    height: 40px;
    margin-top: 5px;
    margin-left: 4px;
    align-items: center;
}
    section.order_state > select {
        margin-left: auto;
        margin-right: 4px;
        height: 40px;
    }

section.double_group {
    min-width: 600px;
    display: flex;
}
    section.double_group section.form_group {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 290px;
    }
    section.double_group section.form_group + section.form_group {
        margin-left: 20px;
    }

section.form_group {
    display: flex;
    flex-direction: column;
    height: 55px;
    position: relative;
    margin-bottom: 10px;
}
    section.form_group > span {
        position: absolute;
        right: 10px;
        top: 20px;
        width: 23px;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background: #607D8B;
        color: #FFF;
        font-weight: bold;
        font-size: 15px;
        transition: 0.2s linear all;
    }
        section.form_group > span > p {
            display: none;
        }
        section.form_group > span:hover {
            background: #283593;
            cursor: pointer;
        }
        section.form_group > span:hover p {
            display: flex;
            position: absolute;
            background: #212121;
            padding: 5px;
            font-size: 14px;
            color: #FFF;
            border-radius: 4px;
            top: 30px;
            right: 0px;
            font-weight: 400;
            min-width: 200px;
            max-width: 400px;
        }

    section.form_group > input {
        width: auto !important;
        margin-top: 10px;
        background: transparent;
    }
        section.form_group > input:focus {
            border-color: #283593;
        }

    section.form_group > input:focus ~ label, section.form_group > input:valid ~ label {
        top: 0px;
        font-size: 13px;
        color: #283593;
        font-weight: 400;
    }
    section.form_group > label {
        position: absolute;
        left: 10px;
        top: 19px;
        color: #607D8B;
        transition: 0.2s ease all;
        font-weight: bold;
        pointer-events: none;
    }

input[type="text"] {
    width: 250px;
    padding: 0 10px;
    border: none;
    border-bottom: 3px solid #607D8B;
    height: 40px;
    transition: 0.2s ease all;
    font-family: Roboto;
    font-weight: bold;
    outline: none;
}

select {
    outline: none;
    border-radius: 4px;
    border: 2px solid #607D8B;
    padding: 0 10px;
}

::placeholder { /* Firefox, Chrome, Opera */
    color: #607D8B;
}

form#search {
    margin-right: 4px;
    display: flex;
}
    form#search > button {
        margin-left: 4px;
    }
    form#search > #search_active {
        margin-left: auto;
        margin-right: 20px;
    }

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    border: none;
    outline: none;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.1), 0 6px 12px 0 rgba(0,0,0,0.1);
    background: #512DA8;
    padding: 0 15px;
    color: #FFF;
    transition: 0.2s linear;
    font-family: Roboto;
    font-weight: bold;
}
    button.del {
        background: #E53935 !important;
    }
        button.del:hover {
            cursor: pointer;
            background: #B71C1C;
        }

    button:disabled {
        background: #CCC;
        color: #FFF;
    }
    button:not(.del):not(:disabled):hover {
        cursor: pointer;
        background: #1A237E;
    }

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: .12em;
    left: .22em;
    font-size: 1.3em;
    line-height: 1;
    color: #09ad7e;
    transition: all .2s;
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}

input[type="submit"] {
    width: 100px;
    background: #673AB7;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #FFF;
    margin-left: 10px;
    border: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    height: 43px;
    transition: 0.2s linear;
    font-family: Roboto;
}
    input[type="submit"]:hover {
        cursor: pointer;
        background: #1A237E;
    }

fieldset {
    border-color: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin: 5px 0;
}
    fieldset legend {
        font-size: 15px;
        font-weight: bold;
        color: #607D8B;
    }

section#action_bar {
    display: flex;
}
    section#action_bar > p.action_title {
        background: #607D8B;
        padding: 0 20px;
        border-radius: 2px;
        color: #FFF;
        display: flex;
        align-items: center;
    }
    section#action_bar > button {
        margin-left: auto;
    }

section#action_groups {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    border-radius: 2px;
}
section#action_form_content {
    display: flex;
    justify-content: center;
    align-items: center;
}
    section#action_form_content input[type="text"] {
        width: 210px !important;
    }

details {
    border: 1px solid #607D8B;
    padding: 8px;
    border-radius: 2px;
    position: relative;
    min-height: 10px;
}
details + details {
    margin-top: 15px;
}
summary {
    background: rgb(248, 250, 251);
    outline: none;
    user-select: none;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    border-radius: 2px;
    margin-bottom: 10px;
    position: absolute;
    left: 10px;
    top: -10px;
}
    summary:hover {
        cursor: pointer;
        color: #512DA8;
    }

    details hr {
        border: none;
        height: 1px;
        background: #EEE;
        margin: 5px 4px;
    }
    details .btn_section {
        display: flex;
        justify-content: right;
        margin: 0 4px;
    }
    details button + button {
        margin-left: 10px;
    }

section.condition_line {
    margin-top: 10px;
    margin-bottom: 15px;
}

section#whiteBG {
    background: rgba(178, 215, 250, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s;
}
    section#whiteBG.hidden {
        display: none;
    }

    section#whiteBG > section.modal {
        min-width: 350px;
        background: #ECEFF1;
        border: 2px solid #FFF;
        box-shadow: 1px 1px 10px rgba(20,20,20, 0.1);
        border-radius: 4px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        position: relative;
    }
        section.modal > form {
            display: flex;
            flex-direction: column;
        }
            section.modal > form > input[type="submit"] {
                margin-left: auto;
            }
            section.modal span#modal_error {
                background: #D32F2F;
                border-radius: 10px;
                margin-top: 5px;
                color: #FFF;
                padding: 5px;
                font-size: 14px;
                text-align: center;
                align-content: center;
                justify-content: center;
                display: none;
            }

        section#whiteBG > section.modal > div#modal_close {
            width: 25px;
            height: 25px;
            position: absolute;
            border-radius: 4px;
            background: #D32F2F;
            color: #FFF;
            font-weight: bold;
            right: 14px;
            top: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s linear;
        }
            section#whiteBG > section.modal > div#modal_close:hover {
                cursor: pointer;
                background: #B71C1C;
            }


        section#whiteBG > section.modal hr {
            width: 98%;
            border: 1px solid rgba(0, 0, 0, 0.05);
            border-radius: 10px;
        }
        section#whiteBG > section.modal > p {
            color: #283593;
            margin: 0 4px 10px 4px;
            font-weight: bold;
        }
        section#whiteBG > section.modal button {
            width: 150px;
            margin-left: auto;
            margin-right: 4px;
        }

nav {
    width: 220px;
    margin-right: 10px;
    text-align: center;
    flex-shrink: 0;
}
    nav > img {
        max-width: 80%;
        margin: 20px 0;
    }
    nav > ul {
        margin-top: 10px;
    }
        nav > ul li {
            height: 30px;
            display: flex;
            line-height: 30px;
            padding-left: 10px;
            color: #1A237E;
            background: rgb(248, 250, 251);
            border-radius: 5px;
            transition: 0.2s background linear;
        }
        nav > ul li.active {
            background: #1A237E;
            color: #FFF;
        }
        nav > ul li + li {
            margin-top: 5px;
        }
        nav > ul li:hover {
            background: #1A237E;
            color: #FFF;
            cursor: pointer;
        }

aside {
    flex-grow: 1;
    background: rgb(248, 250, 251);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.25s;
}
    aside h1 {
        color: #1A237E;
        margin-bottom: 10px;
    }

table {
    margin-top: 10px;
    border-spacing: 4px;
    animation: fadeIn 0.5s;
}
    table > thead {
        background: #1A237E;
        color: #FFF;
    }
        table > thead th {
            height: 27px;
            border-radius: 2px;
            font-size: 16px;
        }

    table > tbody#attr tr td:nth-child(3) {
        text-align: center;
    }
    table > tbody {
        background: #FFF;
    }
        table > tbody tr {
            animation: fadeIn 1s;
        }
        table > tbody tr.hidden {
            display: none;
        }

        table > tbody tr td.title {
            background: #1A237E;
            color: #FFF;
        }
        table > tbody tr td.input_td {
            background: #ECEFF1;
            padding: 0px !important;
        }
            table > tbody tr td.input_td input {
                border: 2px solid #607D8B;
                border-radius: 2px;
            }

        table > tbody tr td {
            height: 25px;
            line-height: 25px;
            padding: 0 10px;
            color: #424242;
            border-radius: 2px;
        }

        table > tbody tr td.clickable:hover {
            cursor: pointer;
            background: #FFF59D;
        }

        table > tbody tr td.center {
            text-align: center;
        }

div.schedule-parent {
    display: flex;
    align-items: center;
}
    div.schedule-child {
        background: #212121;
        color: #FFF;
        border-radius: 4px;
        padding: 0 5px;
        font-size: 13px;
    }
    div.schedule-child + div.schedule-child {
        margin-left: 5px;
    }
    div.schedule-child > b {
        margin-right: 5px;
        color: orange;
    }
    div.schedule-child > span + span {
        margin-left: 5px;
    }
