<legend>MS-DOS ( Run a CMD command )</legend>

<section class="double_group">
    <section class="form_group">
        <input type="text"
            class="tpl_input"
            data-path="server"
            spellcheck="false"
            autocomplete="false"
            autocorrect="false"
            required />
        <label for="input_team">Server name</label>
    </section>
    <section class="form_group">
        <input type="text"
            class="tpl_input"
            data-path="command"
            spellcheck="false"
            autocomplete="false"
            autocorrect="false"
            required />
        <label for="input_team">Command</label>
    </section>
</section>
