<legend>RAW ( Specific Nimbus Request )</legend>

<section class="double_group">
    <section class="form_group">
        <input type="text"
            class="tpl_input"
            data-path="hub"
            spellcheck="false"
            autocomplete="false"
            autocorrect="false"
            required />
        <label for="input_team">Hub name (Uppercase)</label>
    </section>
    <section class="form_group">
        <input type="text"
            class="tpl_input"
            data-path="robot"
            spellcheck="false"
            autocomplete="false"
            autocorrect="false"
            required />
        <label for="input_team">Server or Agent name (Lowercase)</label>
    </section>
</section>

<section class="double_group">
    <section class="form_group">
        <input type="text"
            class="tpl_input"
            data-path="probe"
            spellcheck="false"
            autocomplete="false"
            autocorrect="false"
            required />
        <label for="input_team">Probe name (Lowercase)</label>
    </section>
    <section class="form_group">
        <input type="text"
            class="tpl_input"
            data-path="callback"
            spellcheck="false"
            autocomplete="false"
            autocorrect="false"
            required />
        <label for="input_team">Callback</label>
    </section>
</section>

<section class="textarea_group">
    <label for="">PDS</label>
    <textarea
        class="tpl_input"
        data-path="pds"
    ></textarea>
</section>
